<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.koller.lukas.todolist">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="android.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationLabel}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="${applicationLabel}"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="com.koller.lukas.WidgetProvider"/>
            </intent-filter>
            <meta-data
                    android:name="com.google.android.apps.drive.APP_ID"
                    android:value="id=AIzaSyB_0c1bBI9DZ6QeAmLf6XBBdzV5SIBeWfg"/>
        </activity>

        <activity
            android:name=".Activities.InfoActivity"
            android:label="@string/info"
            android:theme="@style/InfoActivityTheme"/>

        <activity
            android:name=".Activities.ThemeActivity"
            android:label="@string/app_theme"
            android:theme="@style/ThemeActivityTheme"/>

        <activity
            android:name=".Activities.ImportDataActivity"
            android:label="@string/import_"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:mimeType="text/plain"/>
                <!--><data android:mimeType="application/octet-stream"<--> />
            </intent-filter>
        </activity>

        <receiver android:name=".BroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.koller.lukas.todolist.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/my_paths"/>
        </provider>

        <receiver android:name=".Widget.WidgetProvider_add">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.koller.lukas.WidgetProvider"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo_add"/>
        </receiver>

        <receiver android:name=".Widget.WidgetProvider_List">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo_list"/>
        </receiver>

        <service
            android:name=".Widget.WidgetService_List"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>
</manifest>
