<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koller.lukas.todolist">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationLabel}"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity
            android:name="com.koller.lukas.todolist.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="${applicationLabel}"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.koller.lukas.WidgetProvider" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.koller.lukas.todolist.InfoActivity"
            android:label="@string/info"
            android:theme="@style/InfoActivityTheme" />

        <activity
            android:name="com.koller.lukas.todolist.ThemeActivity"
            android:label="@string/app_theme"
            android:theme="@style/ThemeActivityTheme"
            android:noHistory="true"/>

        <receiver android:name=".BroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <receiver android:name=".WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.koller.lukas.WidgetProvider" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata" />
        </receiver>
    </application>
</manifest>
